.MediumContainer {
    padding-top: 20rem;
}

.Medium {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Medium>*:not(:last-child) {
    margin-right: 1.5rem;
}

.Title {
    color: rgb(177, 131, 206);
    font-size: 3rem;
    margin-bottom: 2rem;
    letter-spacing: .2rem;
}