.Logo, .Right {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: row;
    color: var(--light);
    align-items: center;
    letter-spacing: .4rem;
}

.Logo {
    justify-content: space-between;
}

.Right>* {
    margin: 0 1rem;
}

.Right img {
    height: 100%;
}

.Menu {
    font-size: 2.4rem;
    color: rgb(243, 243, 243);
    display: none;
}

.Close {
    visibility: hidden;
}

.Form {
    margin-right: 2rem;
}

.Form input, .Form button {
    padding: 1rem 2rem;
    border: none;
    outline: none;
    font-size: 1.6rem;
}

.Form input {
    border-radius: 2rem 0 0 2rem;
}

.Form input:focus {
    background-color: rgb(223, 255, 246);
}

.Form button {
    border-radius: 0 2rem 2rem 0;
    cursor: pointer;
    background-color: rgb(177, 131, 206);
    transition: all 200ms ease;
}

.Form button:hover {
    background-color: rgb(211, 173, 235);
}

@media (max-width: 500px) {
    .Form {
        margin-right: 0rem;
    }
    .Right img {
        height: 70%;
    }
    .Menu {
        display: block;
    }
    .Right h1 {
        display: none;
    }
    .Form input, .Form button {
        padding: .5rem 1rem;
        border: none;
        outline: none;
    }
    .Form input {
        border-radius: 2rem 0 0 2rem;
    }
    .Form input:focus {
        background-color: rgb(223, 255, 246);
    }
    .Form button {
        border-radius: 0 2rem 2rem 0;
        cursor: pointer;
        background-color: rgb(177, 131, 206);
    }
    #fullSizedForm {
        display: none;
    }
}