.NavItem {
    box-sizing: border-box;
    display: block;
    font-size: 2.8rem;
    width: 100%;
}

.NavItem a {
    text-decoration: none;
    padding: 1rem 1.6rem;
    height: 100%;
    box-sizing: border-box;
    display: block;
    color: #a9fde5;
    transition: all 250ms ease;
}

.NavItem a:hover, .NavItem a:active, .NavItem a.active {
    color: var(--light-green);
    background-color: #665589;
}

@media (min-width: 500px) {
    .NavItem {
        margin: 0;
        display: flex;
        font-size: 1.8rem;
        height: 100%;
        width: auto;
        align-items: center;
    }
    .NavItem a {
        text-decoration: none;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    .NavItem a:hover, .NavItem a:active, .NavItem a.active {
        background-color: #665589;
        border-bottom: 4px solid #56dac2;
        color: rgb(243, 243, 243);
    }
}