.Movie {
    color: rgb(243, 243, 243);
    font-size: 1.5rem;
    padding-top: 1.5rem;
    width: 23%;
}

.Movie img {
    width: 100%;
}

.Title {
    padding: 1rem 0;
}

.botMarg {
    margin-bottom: 2rem;
}